{
	admin off
	grace_period 15s
}

{$CADDY_DOMAIN} {

    handle /media/* {
        root * /var/www
        file_server
        header Cache-Control "public, max-age=31536000, immutable"
    }

    handle {
        reverse_proxy {
            dynamic a app 8000 {
                refresh 5s
                versions ipv4
            }

            lb_policy least_conn
            lb_retries 1

            fail_duration 10s

            health_uri /healthz/
            health_interval 10s
            health_timeout 5s
            health_headers {
                Host {$CADDY_DOMAIN}
            }
        }
    }
}
